<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>771788876993-pmap7ukdbv5i1e3isevidk44bl4c2gkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771788876993-pmap7ukdbv5i1e3isevidk44bl4c2gkv</string>
	<key>API_KEY</key>
	<string>AIzaSyAStzEYB_BWFI1U4TSDZknGz0pyynXnVIo</string>
	<key>GCM_SENDER_ID</key>
	<string>771788876993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ImbaGames.social-network</string>
	<key>PROJECT_ID</key>
	<string>social-media-e7483</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-e7483.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:771788876993:ios:f7f0aec5b2223206</string>
	<key>DATABASE_URL</key>
	<string>https://social-media-e7483.firebaseio.com</string>
</dict>
</plist>